<html>
	<head>
		<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
		<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;700&display=swap" rel="stylesheet">
<script>
	function func(roll_no)
	{
		let tmp=roll_no;
		window.location.href='/status/'+tmp;
	}
</script>
	</head>
<body style="font-family: 'Gugi', cursive;">
	<center><img src="https://images.shiksha.com/mediadata/images/1571723041phpwBvSQw.jpeg"></center>
	<h1 style="text-align:center;font-family: 'Oswald', sans-serif;">
		<b>Day-Fit</b>
	</h1>
	<hr><br><br>
	<h1 style="text-align:center;">
		Mark Attendance: (<%=date%>)<br><br>
		<form action="/fill_entry" method="POST">
			<input type="text" style="font-family: 'Oswald', sans-serif;" id="roll_no" name="roll_no" placeholder="Roll_no" required>
			<input type="text" style="font-family: 'Oswald', sans-serif;" id="temp" name="temp" placeholder="Temperature" required>
			<input type="submit">
		</form>
	</h1>
	<hr><br><br>
	<h2 style="text-align:center;">
		Add Student<br><br>
		<form action="/add_student" method="POST">
			<input type="text" style="font-family: 'Oswald', sans-serif;" id="roll_no" name="roll_no" placeholder="Roll_no" required>
			<input type="text" style="font-family: 'Oswald', sans-serif;" id="name" name="name" placeholder="Name" required>
			<input type="text" style="font-family: 'Oswald', sans-serif;" id="dept" name="dept" placeholder="Dept" required>
			<input type="submit">
		</form>
	</h2>
	<hr><br><br>
	
	<h1 style="text-align:center;">
		Reports
		<table class="Table">
			<tr>
				<th>Name</th>
				<th>Dept.</th>
				<th>Enrollment No.</th>
				<th>Status</th>
			</tr>
			<% for(let i=0;i<data.length;i++){%>
			<tr>
			<td><%=data[i].Name%></td>
			<td><%=data[i].Dept%></td>
			<td><%=data[i].Roll_no%></td>
			<td><button type="button" class="btn btn-info" onClick="func(<%=data[i].Roll_no%>)">Report</button></td>
			</tr>
			<%}%>
		</table>
	</h1>
	</body>
	
</html>